@model GlacialArchiving.DataAccess.Models.Setting

<fieldset>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.Name)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.Data)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.Type)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.IsStatic)
        </section>
    </div>
</fieldset>
