@model IEnumerable<GlacialArchiving.DataAccess.Models.DataTag>

@{
    ViewBag.Title = "Data Tags Listing";
}

<h2>
    Data Tags
	@if (!string.IsNullOrWhiteSpace(ViewBag.FilteredType) && !string.IsNullOrWhiteSpace(ViewBag.FilteredBy))
    {
        @Html.Raw(" :: " + ViewBag.FilteredType + " = " + ViewBag.FilteredBy)
    }
</h2>

@Html.Partial("_List", Model)