@model GlacialArchiving.DataAccess.Models.FileData

<fieldset>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.Data)
        </section>
    </div>
</fieldset>
