@model GlacialArchiving.DataAccess.Models.Navigation

@{
    ViewBag.Title = "Create Navigation";
}

<h2>Create</h2>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="tabs">
    <ul>
        <li><a href="#NavigationTab">Navigation</a></li>
    </ul>
    <div id="NavigationTab">
        @using (Html.BeginForm("Create", "Navigations", FormMethod.Post, new { @class = "smart-form" }))
        {
            @Html.Partial("_CreateOrEdit", Model)

            <footer>
                <button type="submit" name="submit" class="btn btn-labeled btn-primary">
                    <span class="btn-label"><i class="fa fa-save"></i></span>
                    Create
                </button>
            </footer>
        }
    </div>
</div>

