@model IEnumerable<GlacialArchiving.DataAccess.Models.NavSubItem>

@{
    ViewBag.Title = "Nav Sub Items Listing";
}

<h2>
    Nav Sub Items
	@if (!string.IsNullOrWhiteSpace(ViewBag.FilteredType) && !string.IsNullOrWhiteSpace(ViewBag.FilteredBy))
    {
        @Html.Raw(" :: " + ViewBag.FilteredType + " = " + ViewBag.FilteredBy)
    }
</h2>

@Html.Partial("_List", Model)