@model GlacialArchiving.DataAccess.Models.HistoryLog

@{
    ViewBag.Title = "Create History Log";
}

<h2>Create</h2>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="tabs">
    <ul>
        <li><a href="#HistoryLogTab">HistoryLog</a></li>
    </ul>
    <div id="HistoryLogTab">
        @using (Html.BeginForm("Create", "HistoryLogs", FormMethod.Post, new { @class = "smart-form" }))
        {
            @Html.Partial("_CreateOrEdit", Model)

            <footer>
                <button type="submit" name="submit" class="btn btn-labeled btn-primary">
                    <span class="btn-label"><i class="fa fa-save"></i></span>
                    Create
                </button>
            </footer>
        }
    </div>
</div>

