@model GlacialArchiving.DataAccess.Models.StoredFile

@{
    ViewBag.Title = "Delete";
    ViewBag.Title = "Delete :: " + @Model.FileName;
}

<h2>Delete :: @Model.FileName</h2>

<h3>Are you sure you want to delete this?</h3>

<div class="tabs">
    <ul>
        <li><a href="#StoredFileTab">StoredFile</a></li>
    </ul>
    <div id="StoredFileTab">
        @using (Html.BeginForm("Delete", "StoredFile", FormMethod.Post, new { @class = "smart-form" }))
        {
            @Html.Partial("_Display", Model)
            
            <footer>
                <a class="btn btn-default" href="../Index">Cancel</a>
                <button type="submit" name="submit" class="btn btn-labeled btn-danger">
                    <span class="btn-label"><i class="fa fa-trash-o"></i></span>
                    Delete
                </button>
            </footer>
        }
    </div>
</div>
