<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ThingsToDo" type="TBADev.MVC.ClerkOperations.ToDoObjects.ToDoItemCollection, TBADev.MVC" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="tbadev" type="TBADev.MVC.Configuration.TBADevSection, TBADev.MVC" />
  </configSections>
  <tbadev userRepository="GlacialArchiving.DataAccess.Repositories.UserRepository, GlacialArchiving.DataAccess" 
          settingRepository="GlacialArchiving.DataAccess.Repositories.SettingRepository, GlacialArchiving.DataAccess"
          emailDomains="gmail.com,tbadev.com" />
  <connectionStrings>
    <clear />
    <add name="DataContext" connectionString="Data Source=CYPTBADEV1\TBADEV2008;Initial Catalog=GlacialArchiving;Persist Security Info=True;User ID=GlacialArchiving;Password=Glacial45Archiving!!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@tbadev.com">
        <network host="mail.tbadev.com" enableSsl="true" port="587" userName="info@tbadev.com" password="p@ssw0rd1!" />
      </smtp>
    </mailSettings>
  </system.net>
  <ThingsToDo>
    <Heartbeat Enabled="true" Name="Heartbeat" EmailAtTime="8:00 AM" SettingClass="GlacialArchiving.DataAccess.Repositories.SettingRepository, GlacialArchiving.DataAccess">
      <Schedule>
        <Interval MinuteDelay="1"></Interval>
      </Schedule>
    </Heartbeat>
  </ThingsToDo>
  <appSettings>
    <add key="WaitPeriodInSecs" value="60" />
    <add key="ClerkServiceName" value="GlacialArchiving.ClerkService" />
    <add key="EmailSubjectPrefix" value="Clerk.DEV"/>
  </appSettings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="C:\Development\Projects\GlacialArchiving\Logs\Clerk\log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d{MM/dd/yyyy HH:mm:ss},%logger,%level%,%m%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <priority value="All" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="NHibernate" additivity="false">
      <level value="Error" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="Error" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>