<nav>
    <ul>
        <li>
            <a href="/Account/Login">
                <i class="fa fa-lg fa-fw fa-sign-in"></i>
                <span class="menu-item-parent">Login</span>
            </a>
        </li>
    </ul>
</nav>