@model IEnumerable<GlacialArchiving.DataAccess.Models.UploadedItemValidation>

@{
    ViewBag.Title = "Uploaded Item Validations Listing";
}

<h2>
    Uploaded Item Validations
	@if (!string.IsNullOrWhiteSpace(ViewBag.FilteredType) && !string.IsNullOrWhiteSpace(ViewBag.FilteredBy))
    {
        @Html.Raw(" :: " + ViewBag.FilteredType + " = " + ViewBag.FilteredBy)
    }
</h2>

@Html.Partial("_List", Model)