@model IEnumerable<GlacialArchiving.DataAccess.Models.FileType>

@{
    ViewBag.Title = "File Types Listing";
}

<h2>
    File Types
	@if (!string.IsNullOrWhiteSpace(ViewBag.FilteredType) && !string.IsNullOrWhiteSpace(ViewBag.FilteredBy))
    {
        @Html.Raw(" :: " + ViewBag.FilteredType + " = " + ViewBag.FilteredBy)
    }
</h2>

@Html.Partial("_List", Model)