@model IEnumerable<GlacialArchiving.DataAccess.Models.TradingUnitCoverage>

@{
    ViewBag.Title = "Trading Unit Coverages Listing";
}

<h2>
    Trading Unit Coverages
	@if (!string.IsNullOrWhiteSpace(ViewBag.FilteredType) && !string.IsNullOrWhiteSpace(ViewBag.FilteredBy))
    {
        @Html.Raw(" :: " + ViewBag.FilteredType + " = " + ViewBag.FilteredBy)
    }
</h2>

@Html.Partial("_List", Model)