@model GlacialArchiving.DataAccess.Models.NavIcon

<fieldset>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.Name)
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            @Html.jDisplayFor(model => model.CssClassName)
        </section>
    </div>
</fieldset>
